<!-- Event Header
================================================== -->
<div class="alc-event-header alc-event-header--layout-1">
	<div class="alc-event-header__top">
		<div class="container">
			<h6 class="title">Championship Quarter Finals</h6>
			<span class="subtitle">Friday, March 24th, 2020</span>
		</div>
	</div>
	<div class="alc-event-header__content">
		<div class="container">
			<div class="alc-event-header__content-inner">

				<!-- Competitors -->
				<div class="alc-event-competitors">
					<!-- Team #1 -->
					<div class="alc-event-competitors__item alc-event-team alc-event-team--winner">
						<div class="alc-event-team__details">
							<h4 class="alc-event-team__name">Alchemists</h4>
							<div class="alc-event-team__info">Elric Bros School</div>
						</div>
						<figure class="alc-event-team__logo">
							<img src="{{../root}}assets/images/samples/logos/alchemists-n.png" alt="">
						</figure>
						<div class="alc-event-team__score-wrap">
							<div class="alc-event-team__score">107</div>
						</div>
					</div>
					<!-- Team #1 / End -->

					<!-- Team #2 -->
					<div class="alc-event-competitors__item alc-event-team">
						<div class="alc-event-team__details">
							<h4 class="alc-event-team__name">Sharks</h4>
							<div class="alc-event-team__info">Marine College</div>
						</div>
						<figure class="alc-event-team__logo">
							<img src="{{../root}}assets/images/samples/logos/sharks-n.png" alt="">
						</figure>
						<div class="alc-event-team__score-wrap">
							<div class="alc-event-team__score">102</div>
						</div>
					</div>
					<!-- Team #2 / End -->

					<!-- Scoreboard -->
					<div class="alc-event-competitors__status">
						<div class="table-responsive">
							<table class="table table__cell-center table-wrap-bordered table-thead-color">
								<thead>
									<tr>
										<th>Scoreboard</th>
										<th>1</th>
										<th>2</th>
										<th>3</th>
										<th>4</th>
										<th>T</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>Alchemists</th>
										<td>30</td>
										<td>31</td>
										<td>22</td>
										<td>24</td>
										<td>107</td>
									</tr>
									<tr>
										<th>Sharks</th>
										<td>22</td>
										<td>34</td>
										<td>20</td>
										<td>26</td>
										<td>102</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- Scoreboard / End -->

				</div>
				<!-- Competitors / End -->

			</div>
		</div>
		<div class="alc-event-header__content-team-decor alc-event-header__content-team-decor--color1"></div>
		<div class="alc-event-header__content-team-decor alc-event-header__content-team-decor--color2"></div>
	</div>
</div>
