<!-- Event Header
================================================== -->
<div class="alc-event-header alc-event-header--layout-2">
	<div class="alc-event-header__top">
		<div class="container">
			<h6 class="title">West League 2016</h6>
			<span class="subtitle">Saturday, March 24</span>
		</div>
	</div>
	<div class="alc-event-header__content">
		<div class="container">
			<div class="alc-event-header__content-inner">

				<!-- Competitors -->
				<div class="alc-event-competitors">
					<!-- Team #1 -->
					<div class="alc-event-competitors__item alc-event-team alc-event-team--winner">
						<div class="alc-event-team__logo-alt">
							<div class="alc-event-team__logo-alt-inner">
								<img src="{{../root}}assets/images/soccer/logo.png" alt="" class="alc-event-team__logo-alt-img">
							</div>
						</div>
						<div class="alc-event-team__details">
							<h4 class="alc-event-team__name">Alchemists</h4>
							<div class="alc-event-team__info">Elric Bros School</div>
						</div>
						<figure class="alc-event-team__logo">
							<img src="{{../root}}assets/images/soccer/logos/alchemists_n.png" alt="">
						</figure>
						<div class="alc-event-team__score-wrap">
							<div class="alc-event-team__score">2</div>
						</div>
					</div>
					<!-- Team #1 / End -->

					<!-- Team #2 -->
					<div class="alc-event-competitors__item alc-event-team">
						<div class="alc-event-team__logo-alt alc-event-team__logo-alt--color-alt">
							<div class="alc-event-team__logo-alt-inner">
								<img src="{{../root}}assets/images/samples/logos/lucky_clovers.png" alt="" class="alc-event-team__logo-alt-img">
							</div>
						</div>
						<div class="alc-event-team__details">
							<h4 class="alc-event-team__name">Clovers</h4>
							<div class="alc-event-team__info">St Paddy's Institute</div>
						</div>
						<figure class="alc-event-team__logo">
							<img src="{{../root}}assets/images/samples/logos/lucky_clovers_n.png" alt="">
						</figure>
						<div class="alc-event-team__score-wrap">
							<div class="alc-event-team__score">0</div>
						</div>
					</div>
					<!-- Team #2 / End -->

					<div class="alc-event-competitors__divider"></div>

				</div>
				<!-- Competitors / End -->

			</div>
		</div>
	</div>
	<div class="alc-event-header__bottom">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<!-- 1st Team Performances -->
					<div class="alc-event-header-performances">
						<span class="alc-event-header__performance">Franklin Stevens (22’) <i class="icon-svg icon-soccer-ball"></i></span>
						<span class="alc-event-header__performance">Brian Kingster (59’) <i class="icon-svg icon-red-card"></i></span>
						<span class="alc-event-header__performance">Christofer Grass (68’) (P) <i class="icon-svg icon-soccer-ball"></i></span>
					</div>
					<!-- 1st Team Performances / End -->
				</div>
				<div class="col-6">
					<!-- 2nd Team Performances -->

					<!-- 2nd Team Performances / End -->
				</div>
			</div>
		</div>
	</div>
</div>
