<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alchemists.infra.match.MatchDao">

	<resultMap id="resultMapObj"
		type="com.alchemists.infra.match.MatchDto"></resultMap>
		
	<sql id="commonSelectMatch">
		FROM match m
		LEFT JOIN matchreply mr ON m.matchSeq = mr.matchSeqF 
		LEFT JOIN stadium s ON m.stadiumSeqF = s.stadiumSeq
		LEFT JOIN timeline tl ON m.matchSeq = tl.matchSeqF
		LEFT JOIN team t ON m.matchHomeTeamSeqF = t.teamSeq
		
		WHERE 1=1
		
			<if test="voDelNy != null and !voDelNy.equals('')">AND m.matchDelNy = #{voDelNy}</if>
			
		<choose>
			<when test="voOptionDate == 1">AND m.matchRegDate BETWEEN #{voDateStart} AND #{voDateEnd}</when>
			<when test="voOptionDate == 2">AND m.matchModDate BETWEEN #{voDateStart} AND #{voDateEnd}</when>
		</choose>

		<choose>
			<when test="voOption == 1">AND m.matchSeq = #{voValue}</when>
		</choose>
	</sql>
	
	

	<select id="selectListMatchWithPaging" resultMap="resultMapObj">
	<include refid="base.selectHeader" />
			select
				m.matchSeq,
			    m.matchDateTime,
			    m.matchCancelNY,
			    m.matchCancelMemo,
			    m.matchHomeTeamSeqF,
			    m.matchHomeYellowCardCount,
			    m.matchHomeRedCardCount,
			    m.matchHomeGoalCount,
			    m.matchHomeFoulCount,
			    m.matchHomeOwnGoalCount,
			    m.matchHomeTotalGoalCount,
			    m.matchAwayTeamSeqF,
			    m.matchAwayYellowCardCount,
			    m.matchAwayRedCardCount,
			    m.matchAwayGoalGount,
			    m.matchAwayFoulCount,
			    m.matchAwayOwnGoalCount,
			    m.matchAwayTotalGoalCount,
			    m.matchRegDate,
			    m.matchModDate,
			    m.matchDelNY,
			    s.stadiumSeq,
			    s.stadiumName,
			    s.stadiumAddr,
			    s.stadiumManagerName,
			    t.teamName,
			    t.teamWinsCount,
			    t.teamGoalCount
				
		<include refid="commonSelectMatch" />
		ORDER BY m.matchSeq desc
		<include refid="base.selectFooterMysql" />
	</select>
	
	<select id="selectCountMatch" resultType="Integer">
		SELECT COUNT(*)
			<include refid="commonSelectMatch" />
	</select>
	
	
	<select id="selectListMatchWithoutPaging" resultMap="resultMapObj">
		select
				m.matchSeq,
			    m.matchDateTime,
			    m.matchCancelNY,
			    m.matchCancelMemo,
			    m.matchHomeTeamSeqF,
			    m.matchHomeYellowCardCount,
			    m.matchHomeRedCardCount,
			    m.matchHomeGoalCount,
			    m.matchHomeFoulCount,
			    m.matchHomeOwnGoalCount,
			    m.matchHomeTotalGoalCount,
			    m.matchAwayTeamSeqF,
			    m.matchAwayYellowCardCount,
			    m.matchAwayRedCardCount,
			    m.matchAwayGoalGount,
			    m.matchAwayFoulCount,
			    m.matchAwayOwnGoalCount,
			    m.matchAwayTotalGoalCount,
			    m.matchRegDate,
			    m.matchModDate,
			    m.matchDelNY,
			    s.stadiumSeq,
			    s.stadiumName,
			    s.stadiumAddr,
			    s.stadiumManagerName,
			    t.teamName,
			    t.teamWinsCount,
			    t.teamGoalCount
		FROM Match m
		LEFT JOIN matchreply mr ON m.matchSeq = mr.matchSeqF 
		LEFT JOIN stadium s ON m.stadiumSeqF = s.stadiumSeq
		LEFT JOIN timeline tl ON m.matchSeq = tl.matchSeqF
		LEFT JOIN team t ON m.matchHomeTeamSeqF = t.teamSeq
		
		WHERE 1=1
	</select>
	

	<select id="selectOneMatch" resultMap="resultMapObj">
		select
			    matchDateTime,
			    matchCancelNY,
			    matchCancelMemo,
			    matchHomeTeamSeqF,
			    matchHomeYellowCardCount,
			    matchHomeRedCardCount,
			    matchHomeGoalCount,
			    matchHomeFoulCount,
			    matchHomeOwnGoalCount,
			    matchHomeTotalGoalCount,
			    matchAwayTeamSeqF,
			    matchAwayYellowCardCount,
			    matchAwayRedCardCount,
			    matchAwayGoalGount,
			    matchAwayFoulCount,
			    matchAwayOwnGoalCount,
			    matchAwayTotalGoalCount,
			    matchRegDate,
			    matchModDate,
			    matchDelNY
			From match
		where 1=1
				and matchSeq=#{matchSeq}
	</select>

	<insert id="insert">
		insert into match(
			matchDateTime
			,matchCancelNY
			,matchCancelMemo
			,matchHomeTeamSeqF
			,matchHomeYellowCardCount
			,matchHomeRedCardCount
			,matchHomeGoalCount
			,matchHomeOwnGoalCount
			,matchHomeFoulCount
			,matchHomeTotalGoalCount
			,matchAwayTeamSeqF
			,matchAwayYellowCardCount
			,matchAwayRedCardCount
			,matchAwayFoulCount
			,matchAwayGoalGount
			,matchAwayOwnGoalCount
			,matchAwayTotalGoalCount
			,matchModDate
			,matchRegDate
			,matchDelNY
			,stadiumSeqF
		   )values(
			    #{matchDateTime}
			    ,0
			    ,#{matchCancelMemo}
			    ,#{matchHomeTeamSeqF}
			    ,#{matchHomeYellowCardCount}
			    ,#{matchHomeRedCardCount}
			    ,#{matchHomeGoalCount}
			    ,#{matchHomeOwnGoalCount}
			    ,#{matchHomeFoulCount}
			    ,#{matchHomeTotalGoalCount}
			    ,#{matchAwayTeamSeqF}
			    ,#{matchAwayYellowCardCount}
			    ,#{matchAwayRedCardCount}
			    ,#{matchAwayFoulCount}
			    ,#{matchAwayGoalGount}
			    ,#{matchAwayOwnGoalCount}
			    ,#{matchAwayTotalGoalCount}
			    ,now()
			    ,now()
			    ,0
			    ,#{stadiumSeqF}
		    )

		<selectKey resultType="String" keyProperty="matchSeq"
			order="AFTER">
			select last_insert_id()
		</selectKey>
	</insert>


	<update id="update">
		UPDATE match
		SET
		codeName=#{codeName}
		,codeGroupSeqF=#{codeGroupSeqF}
		where 1=1
			and codeSeq=#{codeSeq}
	</update>

	<update id="uelete">
		update match
		set 
		matchDelNy=1
		where 1=1
		 and matchSeq = #{matchSeq}
	</update>

	<delete id="delete">
		delete From match
			where 1=1
		and matchSeq=#{matchSeq}
	</delete>
	
	<!--  ###  -->
	<!--  matchReply  -->
	<!--  ###  -->
	
	<sql id ="commonSelectMatchReply">
		FROM matchreply mr
		LEFT JOIN match m ON m.matchSeq = mr.matchSeqF 
		LEFT JOIN team t ON m.matchReplyTeamSeqF = t.teamSeq
		
		WHERE 1=1
		
			<if test="voDelNy != null and !voDelNy.equals('')">AND mr.matchReplyDelNy = #{voDelNy}</if>
			
		<choose>
			<when test="voOptionDate == 1">AND mr.matchReplyRegDate BETWEEN #{voDateStart} AND #{voDateEnd}</when>
			<when test="voOptionDate == 2">AND mr.matchReplyModDate BETWEEN #{voDateStart} AND #{voDateEnd}</when>
		</choose>

		<choose>
			<when test="voOption == 1">AND m.matchReplySeq = #{voValue}</when>
		</choose>
	</sql>
	


	<select id="selectListMatchReplyWithPaging" resultMap="resultMapObj">
	<include refid="base.selectHeader" />
			select
				mr.matchReplySeq
				,mr.matchReplyTeamSeqF
				,mr.matchReplyJoinNy
				,mr.matchReplyRegDate
				,mr.matchReplyModDate
				,mr.matchSeqF
				,m.matchAwayTeamSeqF
				,t.teamSeq
				,t.teamName
		<include refid="commonSelectMatchReply" />
		ORDER BY mr.matchReplySeq desc
		<include refid="base.selectFooterMysql" />
	</select>
	
	
	<select id="selectCountMatchReply" resultType="Integer">
		SELECT COUNT(*)
			<include refid="commonSelectMatchReply" />
	</select>
	
	
	<select id="selectListMatchReplyWithoutPaging" resultMap="resultMapObj">
		select
				m.matchSeq,
			    m.matchDateTime,
			    m.matchCancelNY,
			    m.matchCancelMemo,
			    m.matchHomeTeamSeqF,
			    m.matchHomeYellowCardCount,
			    m.matchHomeRedCardCount,
			    m.matchHomeGoalCount,
			    m.matchHomeFoulCount,
			    m.matchHomeOwnGoalCount,
			    m.matchHomeTotalGoalCount,
			    m.matchAwayTeamSeqF,
			    m.matchAwayYellowCardCount,
			    m.matchAwayRedCardCount,
			    m.matchAwayGoalGount,
			    m.matchAwayFoulCount,
			    m.matchAwayOwnGoalCount,
			    m.matchAwayTotalGoalCount,
			    m.matchRegDate,
			    m.matchModDate,
			    m.matchDelNY,
			    s.stadiumSeq,
			    s.stadiumName,
			    s.stadiumAddr,
			    s.stadiumManagerName,
			    t.teamName,
			    t.teamWinsCount,
			    t.teamGoalCount
		FROM Match m
		LEFT JOIN matchreply mr ON m.matchSeq = mr.matchSeqF 
		LEFT JOIN stadium s ON m.stadiumSeqF = s.stadiumSeq
		LEFT JOIN timeline tl ON m.matchSeq = tl.matchSeqF
		LEFT JOIN team t ON m.matchHomeTeamSeqF = t.teamSeq
		
		WHERE 1=1
	</select>

	<update id="updateMatchReply">
		UPDATE matchReply
		SET
		matchReplyJoinNy=1
		where 1=1
			and matchReplySeq=#{matchReplySeq}
	</update>


	
</mapper>