<!-- Player Pages Filter -->
<nav class="content-filter">
	<div class="container">
		<a href="#" class="content-filter__toggle"></a>
		<ul class="content-filter__list">
			<li class="content-filter__item {{#ifpage '_soccer_player-overview'}}content-filter__item--active{{/ifpage}}"><a href="_soccer_player-overview.html" class="content-filter__link"><small>Player</small>Overview</a></li>
			<li class="content-filter__item {{#ifpage '_soccer_player-stats'}}content-filter__item--active{{/ifpage}}"><a href="_soccer_player-stats.html" class="content-filter__link"><small>Player</small>Full Statistics</a></li>
			<li class="content-filter__item {{#ifpage '_soccer_player-bio'}}content-filter__item--active{{/ifpage}}"><a href="_soccer_player-bio.html" class="content-filter__link"><small>Player</small>Biography</a></li>
			<li class="content-filter__item {{#ifpage '_soccer_player-news'}}content-filter__item--active{{/ifpage}}"><a href="_soccer_player-news.html" class="content-filter__link"><small>Player</small>Related News</a></li>
			<li class="content-filter__item {{#ifpage '_soccer_player-gallery'}}content-filter__item--active{{/ifpage}}"><a href="_soccer_player-gallery.html" class="content-filter__link"><small>Player</small>Gallery</a></li>
		</ul>
	</div>
</nav>
<!-- Player Pages Filter / End -->
