<!-- Widget: Doughnut Chart -->
<div class="widget card card--alt-color widget--sidebar">
	<div class="widget__title card__header">
		<h4>Clovers Shots</h4>
	</div>
	<div class="widget__content card__content">
		<canvas id="chart-doughnut-soccer-2" height="208"></canvas>
		<div id="chartDoughnutLegendSoccer2" class="chart-legend chart-legend--center"></div>
	</div>
</div>
<!-- Widget: doughnut Chart / End -->
