<!-- Widget: Doughnut Chart -->
<div class="widget card widget--sidebar">
	<div class="widget__title card__header">
		<h4>Alchemists Shots</h4>
	</div>
	<div class="widget__content card__content">
		<canvas id="chart-doughnut-soccer-1" height="208"></canvas>
		<div id="chartDoughnutLegendSoccer1" class="chart-legend chart-legend--center"></div>
	</div>
</div>
<!-- Widget: doughnut Chart / End -->
