<!-- Widget: Team Stats -->
<aside class="widget widget--sidebar card card--has-table widget-team-stats">
	<div class="widget__title card__header">
		<h4>Team Stats</h4>
	</div>
	<div class="widget__content card__content">
		<ul class="team-stats-box">
			<li class="team-stats__item team-stats__item--clean">
				<div class="team-stats__icon team-stats__icon--circle">
					<div class="team-stats__icon-primary">
						<i class="icon-svg icon-soccer-ball"></i>
					</div>
				</div>
				<div class="team-stats__value">2.54</div>
				<div class="team-stats__label">Goals Per Game</div>
			</li>
			<li class="team-stats__item team-stats__item--clean">
				<div class="team-stats__icon team-stats__icon--circle team-stats__icon--shots-ot">
					<div class="team-stats__icon-primary">
						<i class="icon-svg icon-soccer-ball"></i>
					</div>
					<div class="team-stats__icon-secondary">
						<i class="icon-svg icon-soccer-gate"></i>
					</div>
				</div>
				<div class="team-stats__value">31.6</div>
				<div class="team-stats__label">Shots OT Per Game</div>
			</li>
			<li class="team-stats__item team-stats__item--clean">
				<div class="team-stats__icon team-stats__icon--circle team-stats__icon--shots">
					<div class="team-stats__icon-primary">
						<i class="icon-svg icon-soccer-ball"></i>
					</div>
					<div class="team-stats__icon-secondary">
						<i class="icon-svg icon-soccer-shots"></i>
					</div>
				</div>
				<div class="team-stats__value">68.9</div>
				<div class="team-stats__label">Total Shots Per Game</div>
			</li>
			<li class="team-stats__item team-stats__item--clean">
				<div class="team-stats__icon team-stats__icon--circle team-stats__icon--assists">
					<div class="team-stats__icon-primary">
						<i class="icon-svg icon-soccer-ball"></i>
					</div>
					<span class="team-stats__icon-secondary">A</span>
				</div>
				<div class="team-stats__value">1.7</div>
				<div class="team-stats__label">Goal Assists Per Game</div>
			</li>
		</ul>
	</div>
</aside>
<!-- Widget: Team Stats / End -->
