<!-- Widget: Instagram -->
<div class="widget widget--footer widget-instagram">
	<h4 class="widget__title">Gallery Widget</h4>
	<div class="widget__content">
		<ul id="instagram-feed" class="widget-instagram__list">
			{{#each basketball.instagram}}
			<li class="widget-instagram__item">
				<a href="{{link}}" class="widget-instagram__link-wrapper" target="_blank">
					<span class="widget-instagram__plus-sign">
						<img src="{{image}}" class="widget-instagram__img" alt="" />
					</span>
				</a>
			</li>
			{{/each}}
		</ul>
		<a href="#" class="btn btn-sm btn-instagram btn-icon-right">Follow Our Profile <i class="icon-arrow-right"></i></a>
	</div>
</div>
<!-- Widget: Instagram / End -->
