<!-- Widget: Instagram Section -->
<aside class="widget widget-instagram">
	<div class="widget__content">
		<ul id="instagram-feed-section" class="widget-instagram__list widget-instagram__list-section">
			{{#each esports.instagram}}
			<li class="widget-instagram__item">
				<a href="{{link}}" class="widget-instagram__link-wrapper" target="_blank">
					<span class="widget-instagram__plus-sign">
						<img src="{{image}}" class="widget-instagram__img" alt="" />
					</span>
				</a>
			</li>
			{{/each}}
		</ul>
		<a href="#" class="btn btn-default btn-icon" target="_blank"><i class="fas fa-link"></i> Follow Our Profile</a>
	</div>
</aside>
<!-- Widget: Instagram Section / End -->
