<!-- Widget: Latest Comments -->
<aside class="widget widget--sidebar card widget-comments">
	<div class="widget__title card__header">
		<h4>Latest Comments</h4>
	</div>
	<div class="widget__content card__content">
		<ul class="comments-list">

			{{#each basketball.posts.widget-comments}}
			<li class="comments-list__item">
				<header class="comments-list__header">
					<figure class="comments-list__avatar">
						<img src="assets/images/samples/{{author.avatar}}" alt="">
					</figure>
					<div class="comments-list__info">
						<h5 class="comments-list__author-name">{{author.name}}</h5>
						<time class="comments-list__date" datetime="2016-08-23">{{date}}</time>
					</div>
					<a href="#" class="comments-list__link"><span class="icon-options"></span></a>
				</header>
				<div class="comments-list__body">
					{{comment}}
				</div>
			</li>
			{{/each}}

		</ul>
	</div>
</aside>
<!-- Widget: Latest Comments / End -->
