---
layout: soccer
page-title: Widgets Shop
page-heading: "Widgets <span class=\"highlight\">Shop</span>"

breadcrumbs: [
	{
		label: "Features",
		link: "_soccer_features-shortcodes.html"
	},
	{
		label: "Widgets - Shop"
	}
]
---

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<div class="row">
			<div class="col-md-4">

				{{> _soccer_widget-products}}

			</div>
			<div class="col-md-4">

				{{> widget-categories}}

			</div>
			<div class="col-md-4">

				{{> widget-filter-color}}

			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="col-md-4">

				{{> widget-filter-price}}

			</div>
			<div class="col-md-4">

				{{> widget-filter-size}}

			</div>
			<div class="col-md-4">

				{{> widget-filter-size-boxed}}

			</div>
		</div>

	</div>
</div>

<!-- Content / End -->
