---
layout: soccer
page-title: Widgets Sports
page-heading: "Widgets <span class=\"highlight\">Sports</span>"

breadcrumbs: [
	{
		label: "Features",
		link: "_soccer_features-shortcodes.html"
	},
	{
		label: "Widgets - Sports"
	}
]
---

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<div class="row">
			<div class="col-lg-4">

				{{> _soccer_widget-game-result}}

			</div>
			<div class="col-lg-4">

				{{> _soccer_widget-game-commentary}}

			</div>
			<div class="col-lg-4">

				{{> _soccer_widget-standings}}

				{{> widget-newslog-player}}

			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="col-lg-4">

				{{> _soccer_widget-player}}

			</div>
			<div class="col-lg-4">

				{{> _soccer_widget-player-alt-stats}}

			</div>
			<div class="col-lg-4">

				{{> _soccer_widget-newslog}}

			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="col-lg-4">

				{{> _soccer_widget-results}}

			</div>
			<div class="col-lg-4">

				{{> _soccer_widget-preview}}

			</div>
			<div class="col-lg-4">

				{{> _soccer_widget-preview-alt}}

			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="col-lg-4">

				{{> _soccer_widget-team-leaders}}

			</div>
			<div class="col-lg-4">

				{{> _soccer_widget-team-stats}}

			</div>
			<div class="col-lg-4">

				{{> _soccer_widget-games-history}}

			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="col-lg-4">

				{{> _soccer_widget-lineup}}

			</div>
			<div class="col-lg-4">

				{{> _soccer_widget-lineup-table}}

			</div>
			<div class="col-lg-4">

				{{> _soccer_widget-lineup-table-alt}}

			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">

				{{> _soccer_widget-team-info }}

			</div>
		</div>

	</div>
</div>

<!-- Content / End -->
