---
layout: soccer
page-title: 404 Error Page
page-heading: "Error <span class=\"highlight\">Page</span>"

breadcrumbs: [
	{
		label: "Features",
		link: "_soccer_features-shortcodes.html"
	},
	{
		label: "Error"
	}
]
---

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<!-- Error 404 -->
		<div class="error-404">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<figure class="error-404__figure">
						<img src="{{../root}}assets/images/icon-ghost.svg" alt="">
					</figure>
					<header class="error__header">
						<h2 class="error__title">OOOOPS! Page not Found</h2>
						<h3 class="error__subtitle">Seems that we have a problem!</h3>
					</header>
					<div class="error__description">
						The page you are looking for has been moved or doesn’t exist anymore, if you like you can return to our homepage. If the problem persists, please send us an email to <a href="mailto:{{soccer.contact-info.email-2}}">{{soccer.contact-info.email-2}}</a>
					</div>
					<footer class="error__cta">
						<a href="_soccer_index.html" class="btn btn-primary">Return to Home</a>
						<a href="#" class="btn btn-primary-inverse">Keep Browsing</a>
					</footer>
				</div>
			</div>
		</div>
		<!-- Error 404 / End -->

	</div>
</div>

<!-- Content / End -->
