---
layout: soccer
page-title: Event - Overview
event-header: true
gmap_script: true
---

{{> _soccer_event-nav}}

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<!-- Timeline -->
		<div class="card">
			<div class="card__header">
				<h4>Game Timeline</h4>
			</div>
			<div class="card__content card__content--pattern-dotted">

				<div class="game-timeline-wrapper pt-4 pb-4">
					<div class="game-timeline game-timeline--adaptive">

						<div class="game-timeline__event">
							<div class="game-timeline__team-1">
								<div class="game-timeline__team-shirt">
									<i class="icon-svg icon-shirt"></i>
								</div>
							</div>
							<div class="game-timeline__time">0’</div>
							<div class="game-timeline__team-2">
								<div class="game-timeline__team-shirt">
									<i class="icon-svg icon-shirt-alt"></i>
								</div>
							</div>
						</div>

						<div class="game-timeline__event game-timeline__event--22">
							<div class="game-timeline__team-1">
								<div class="game-timeline__event-info">
									<div class="game-timeline__event-name">F. Stevens</div>
									<div class="game-timeline__event-desc">Alchemists 1-0</div>
								</div>
								<i class="icon-svg icon-soccer-ball"></i>
							</div>
							<div class="game-timeline__time">22’</div>
						</div>

						<div class="game-timeline__event game-timeline__event--36">
							<div class="game-timeline__time">36’</div>
							<div class="game-timeline__team-2">
								<i class="icon-svg icon-yellow-card"></i>
								<div class="game-timeline__event-info">
									<div class="game-timeline__event-name">J. Griffin</div>
								</div>
							</div>
						</div>

						<div class="game-timeline__event game-timeline__event--ht">
							<div class="game-timeline__time">HT</div>
							<div class="game-timeline__team-2">
								<i class="icon-svg icon-substitution"></i>
								<div class="game-timeline__event-info">
									<div class="game-timeline__event-name">R. Valentine</div>
									<div class="game-timeline__event-name">M. Jackson</div>
								</div>
							</div>
						</div>

						<div class="game-timeline__event game-timeline__event--59">
							<div class="game-timeline__team-1">
								<div class="game-timeline__event-info">
									<div class="game-timeline__event-name">B.Kingster</div>
								</div>
								<i class="icon-svg icon-red-card"></i>
							</div>
							<div class="game-timeline__time">59’</div>
						</div>

						<div class="game-timeline__event game-timeline__event--68">
							<div class="game-timeline__team-1">
								<div class="game-timeline__event-info">
									<div class="game-timeline__event-name">C. Grass (P)</div>
									<div class="game-timeline__event-desc">Alchemists 2-0</div>
								</div>
								<i class="icon-svg icon-soccer-ball-penalty"></i>
							</div>
							<div class="game-timeline__time">68’</div>
						</div>

						<div class="game-timeline__event game-timeline__event--84">
							<div class="game-timeline__time">84’</div>
							<div class="game-timeline__team-2">
								<i class="icon-svg icon-yellow-card"></i>
								<div class="game-timeline__event-info">
									<div class="game-timeline__event-name">W. Christison</div>
								</div>
							</div>
						</div>

						<div class="game-timeline__event game-timeline__event--ft">
							<div class="game-timeline__time">FT</div>
						</div>

					</div>
				</div>

			</div>
		</div>
		<!-- Timeline / End -->


		<div class="row">
			<!-- Content -->
			<div class="content col-lg-8">

				<!-- Video Highlights -->
				<div class="card card--no-paddings">
					<header class="card__header">
						<h4>Video Highlights</h4>
					</header>
					<div class="card__content">
						{{> widget-event-video id="XE0fU9PCrWE" provider="youtube" thumbnail="assets/images/soccer/samples/_soccer_post-img1-xlg.jpg" title="Check The Alchemists in action in this exclusive clip from last night" date="January 27th, 2020"}}
					</div>
				</div>
				<!-- Video Highlights / End -->

				{{> _soccer_game-scoreboard-stats link_to_event="true"}}

				<div class="row">
					<div class="col-md-6">
						{{> _soccer_widget-lineup-table}}
					</div>
					<div class="col-md-6">
						{{> _soccer_widget-lineup-table-alt}}
					</div>
				</div>

				{{> post-comments}}

			</div>
			<!-- Content / End -->

			<!-- Sidebar -->
			<div class="sidebar col-lg-4">

				{{> _soccer_widget-event-info}}

				{{> _soccer_widget-players-overview}}

				{{> _soccer_widget-standings}}

				<!-- Event Post -->
				<div class="posts posts--cards post-list">
					<div class="posts__item posts__item--card posts__item--category-1 card">
						<figure class="posts__thumb">
							<div class="posts__cat">
								<span class="label posts__cat-label">The Team</span>
							</div>
							<a href="_soccer_event-news-recap.html"><img src="{{../root}}assets/images/soccer/samples/_soccer_post-img1.jpg" alt=""></a>
						</figure>
						<div class="posts__inner card__content">
							<a href="#" class="posts__cta"></a>
							<time datetime="2016-08-23" class="posts__date">April 26th, 2020</time>
							<h6 class="posts__title"><a href="#">Frank Stevens shined in the victory 2-0 against The Lucky Clovers</a></h6>
							<div class="posts__excerpt">
								Lorem ipsum dolor sit amet, consectetur adipisi nel elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini veniam, quis nostrud en derum sum laborem.
							</div>
						</div>
						<footer class="posts__footer card__footer">
							<div class="post-author">
								<figure class="post-author__avatar">
									<img src="{{../root}}assets/images/samples/avatar-2.jpg" alt="Post Author Avatar">
								</figure>
								<div class="post-author__info">
									<h4 class="post-author__name">Jessica Hoops</h4>
								</div>
							</div>
							<ul class="post__meta meta">
								<li class="meta__item meta__item--views">2369</li>
								<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
								<li class="meta__item meta__item--comments"><a href="#">18</a></li>
							</ul>
						</footer>
					</div>
				</div>
				<!-- Event Post / End -->

				{{> _soccer_widget-event-scheduled}}

			</div>
			<!-- Sidebar / End -->
		</div>

	</div>
</div>

<!-- Content / End -->
