---
layout: soccer
page-title: Gallery
page-heading: "Team <span class=\"highlight\">Gallery</span>"

breadcrumbs: [
	{
		label: "Team",
		link: "_soccer_team-overview.html"
	},
	{
		label: "Gallery"
	}
]
---

{{> _soccer_team-filter}}

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<!-- Gallery -->
		<div class="gallery row">

			{{#each soccer.sp.team.gallery}}
			<div class="gallery__item col-6 col-sm-4">
				<a href="_soccer_team-gallery-album.html" class="gallery__item-inner card">
					<figure class="gallery__thumb">
						<img src="{{../root}}assets/images/{{thumb}}" alt="">
						<span class="btn-fab gallery__btn-fab"></span>
					</figure>
					<div class="gallery__content card__content">
						<span class="gallery__icon">
							<span class="icon-camera"></span>
						</span>
						<div class="gallery__details">
							<h4 class="gallery__name">{{title}}</h4>
							<div class="gallery__date">{{date}}</div>
						</div>
					</div>
				</a>
			</div>
			{{/each}}

		</div>
		<!-- Gallery / End -->

		{{> _soccer_team-pagination custom-class="justify-content-center"}}

	</div>
</div>

<!-- Content / End -->
