/* Icobox */
.icobox {
	margin-bottom: 40px;

	@media (min-width: 992px) {
		margin-bottom: 0;
	}
}
	// Icon
	.icobox__icon {
		display: inline-block;
		width: 50px;
		height: 50px;
		overflow: hidden;
		position: relative;
		color: $icobox-icon-color-primary;

		i,
		svg {
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	// Icon Size
	.icobox__icon--md {
		width: 70px;
		height: 70px;
		font-size: 28px;
	}

	.icobox__icon--lg {
		width: 90px;
		height: 90px;
		font-size: 32px;
	}

	// Icon Border
	.icobox__icon--border {
		border: 2px solid $icobox-icon-border-color;

		@if $template == 'football' {
			background-color: transparent;
		} @else {
			background-color: $card-bg;
		}

		@if $template == 'hockey' {
			background-color: $color-gray-3;
		}
	}
	.icobox__icon--border-lg {
		border-width: 4px;
	}

	// Icon Filled
	.icobox__icon--filled {
		background-color: $icobox-icon-color-primary;
		color: #fff;
	}

	// Icon Shape
	.icobox__icon--circle { // make sense if icon has border or background
		border-radius: 50%;
	}

	// Content
	.icobox__content {

	}
		// Title
		.icobox__title {
			font-size: $icobox-title-font-size;
			font-style: $icobox-title-font-style;
			text-transform: $icobox-title-text-transform;
			margin-bottom: 1.25em;
		}
		.icobox__title--lg {
			margin-bottom: 1.75em;
		}

		// Subtitle
		.icobox__subtitle {
			font-weight: normal;
			font-size: $base-font-size;
			line-height: 1.2em;
			text-transform: none;
			margin-bottom: .1em;
		}

		// Description
		.icobox__description {

			a {
				&.text-muted {

					&:hover {
						color: $link-color-hover;
					}
				}
			}
		}

	// Color
	.icobox__icon--color--primary {
		color: $icobox-icon-color-primary;

		&.icobox__icon--filled {
			background-color: $icobox-icon-color-primary;
			color: #fff;
		}
	}

	.icobox__icon--color--secondary {
		color: $icobox-icon-color-secondary;

		&.icobox__icon--filled {
			background-color: $icobox-icon-color-secondary;
			color: #fff;
		}
	}


// Text Alignment
.icobox--center {
	text-align: center;

	.icobox__icon {
		margin-bottom: 15px;

		&.icobox__icon--lg {
			margin-bottom: 26px;
		}
	}
}
