<!-- Team Pages Filter -->
<nav class="content-filter">
	<div class="container">
		<a href="#" class="content-filter__toggle"></a>
		<ul class="content-filter__list">
			<li class="content-filter__item {{#ifpage '_soccer_team-overview'}}content-filter__item--active{{/ifpage}}"><a href="_soccer_team-overview.html" class="content-filter__link"><small>The Team</small>Overview</a></li>
			<li class="content-filter__item {{#ifpage '_soccer_team-roster' '_soccer_team-roster-2'}}content-filter__item--active{{/ifpage}}"><a href="_soccer_team-roster.html" class="content-filter__link"><small>The Team</small>Roster</a></li>
			<li class="content-filter__item {{#ifpage '_soccer_team-standings'}}content-filter__item--active{{/ifpage}}"><a href="_soccer_team-standings.html" class="content-filter__link"><small>The Team</small>Standings</a></li>
			<li class="content-filter__item {{#ifpage '_soccer_team-last-results'}}content-filter__item--active{{/ifpage}}"><a href="_soccer_team-last-results.html" class="content-filter__link"><small>The Team</small>Latest Results</a></li>
			<li class="content-filter__item {{#ifpage '_soccer_team-schedule'}}content-filter__item--active{{/ifpage}}"><a href="_soccer_team-schedule.html" class="content-filter__link"><small>The Team</small>Schedule</a></li>
			<li class="content-filter__item {{#ifpage '_soccer_team-gallery'}}content-filter__item--active{{/ifpage}}"><a href="_soccer_team-gallery.html" class="content-filter__link"><small>The Team</small>Gallery</a></li>
		</ul>
	</div>
</nav>
<!-- Team Pages Filter / End -->
